
.box {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
    background: #fbfcee;
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: #0af;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    -webkit-transform-origin: 50% 48%;
    transform-origin: 50% 48%;
    border-radius: 43%;
    -webkit-animation: drift 3000ms infinite linear;
    animation: drift 3000ms infinite linear;
}

.wave.-three {
    -webkit-animation: drift 2500ms infinite linear;
    animation: drift 2500ms infinite linear;
}

.wave.-two {
    -webkit-animation: drift 5000ms infinite linear;
    animation: drift 5000ms infinite linear;
    opacity: .1;
    background: yellow;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, #ee88aa, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5));
    background: linear-gradient(to bottom, #ee88aa, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5));
    z-index: 11;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}



@-webkit-keyframes drift {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    from {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes drift {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    from {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}